<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${top.title}]]</title>
</head>
<body>
<a data-th-href="@{/tops/table}">&larr; К списку топов</a>
<h1 data-th-text="${top.title}"></h1>
<ul>
    <li><strong>ID</strong>: <span data-th-text="${top.id}"></span></li>
    <li><strong>Название</strong>: <span data-th-text="${top.title}"></span></li>
    <li><strong>Описание</strong>: <span data-th-text="${top.details}"></span></li>
    <li><strong>Тип</strong>: <span data-th-text="${top.type.name}"></span></li>
</ul>

<div>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}"/>
        </li>
    </ul>
</div>

<div th:switch="${top.type}">
    <p th:case="${T(ru.nikitos.topfive.entities.TopType).SONG}">
        <a data-th-href="@{/items/song/create(topId=${top.id})}">+ Добавить песню</a></p>
    <p th:case="${T(ru.nikitos.topfive.entities.TopType).VIDEO}">
        <a data-th-href="@{/items/create?type=VIDEO}">+ Добавить видео</a></p>
    <p th:case="${T(ru.nikitos.topfive.entities.TopType).PHOTO}">
        <a data-th-href="@{/items/create?type=PHOTO}">+ Добавить фото</a></p>
</div>

<form method="get" data-th-action="@{/tops/{topId}/edit(topId=${top.id})}">
    <button type="submit">Изменить</button>
</form>
<form method="post" data-th-action="@{/tops/{topId}/delete(topId=${top.id})}">
    <button type="submit">Удалить</button>
</form>
</body>
</html>