<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
</head>
<body>
<div data-th-if="${errors}">
    <h2>Допущены ошибки</h2>
    <ul>
        <li data-th-each="error: ${errors}" data-th-text="${error}"></li>
    </ul>
</div>

<h1 data-th-text="#{ru.nikitos.msg.label.form.title}"></h1>
<form data-th-action="@{/register}" method="post">
    <label for="username" data-th-text="#{ru.nikitos.msg.label.user.firstName}"></label>
    <input type="text" name="username" data-th-value="${payload?.username}"><br/>

    <label for="password" data-th-text="#{ru.nikitos.msg.label.user.password}"></label>
    <input type="password" name="password" data-th-value="${payload?.password}"><br/>

    <label for="passwordRepeat" data-th-text="#{ru.nikitos.msg.label.user.password_repeat}"></label>
    <input type="password" name="passwordRepeat" data-th-value="${payload?.passwordRepeat}"><br/>

    <button type="submit" data-th-text="#{ru.nikitos.msg.label.submit}"></button>
</form>
</body>
</html>